@import "tailwindcss";

@theme {
  --font-comic: "Bangers", system-ui;
  --font-reading: "Roboto Condensed", system-ui;

  --color-comic-red: #ef233c;
  --color-comic-yellow: #ffd60a;
  --color-comic-blue: #3a86ff;
  --color-comic-black: #2b2d42;
}

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: dark;
  }

  body {
    background-color: rgb(24 24 27);
    color: white;
    min-height: 100vh;
  }
}
