@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: dark;
  }

  body {
    background-color: rgb(24 24 27);
    color: white;
    min-height: 100vh;
  }
}
